.cbt {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.cbt-support {
  background: #170EF1;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: none;
  box-shadow: 0 2px 3px #626262;
  position: absolute;
  right: 0;
  bottom: 0;
}

.cbt-input {
  background: #fff;
  position: absolute;
  bottom: 5rem;
  width: 300px;
  height: 400px;
  right: 0;
  box-shadow: 0 0 50px #646464;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.cbt-msg {
  flex: 1 0 0px;
  padding: 0.75rem;
}

.cbt-input form {
  flex: 0 0 75px;
  position: relative;
}

.cbt-input textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  border: none;
  padding: 0.5rem;
  padding-right: 3rem;
}

.cbt-input button {
  position: absolute;
  background: #f17028;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  right: 0.5rem;
  top: 0.5rem;
  border: none;
  padding: 0.1rem 0.5rem;
}

.cbt-container {
  pointer-events: none;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.175);
}

.cbt-container.active {
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
}

.cbt-bot {
  background: #f17028;
  padding: 0 1rem;
  width: min-content;
  min-width: 175px;
  border-radius: 4px;
  color: #fff;
  margin-left: auto;
}

.cbt-user {
  background: #ded7d7;
  padding: 0 1rem;
  min-width: 175px;
  width: min-content;
  border-radius: 4px;
  text-align: left;
}

/*custom color on navbar items*/
.nav-link {
  color: #6E6E6E;
}

.nav-link:hover {
  color: #FE7436;
}

.navbar-toggler-icon {
  content: "";
  left: 0;
  width: 1em;
  height: 0.15em;
  background: #6E6E6E;
  box-shadow: 
    0 0.25em 0 0 #6E6E6E,
    0 0.5em 0 0 #6E6E6E;
}

.nav-item .btn.btn-success {
  background:  #170EF1;
}

.nav-item .btn.btn-warning {
  background-color: #ED591B;
}