<h1 class="p-3 text-white h4 text-center mt-5">Some error has occurred. Please try again later.</h1>

<video preload="none" loop="loop" muted="" autoplay="" playsinline="" class="w-25 mx-auto d-block">
<source src="art/error.mp4" type="video/mp4"><p>HTML5-compatible browser is required to view this video</p>
</video>