<header class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top px-5" style="background: #0068ec">
    <a class="navbar-brand" href="/">
      <span class="fa fa-comments"></span>
      Chatnow
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#intro">Intro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#stack">Stack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success  text-white ml-2" href="/try-now">
            Try Now
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item mr-3">
          <a class="text-white nav-link" href="/login">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning  text-body" href="/register">
            <i class="fa fa-user mr-1"></i> Register
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container mt-5  pt-5">
  <div class="row">
    <div class="col-5">
      <img src="./art/chat.svg" alt="2 person chatting" class="w-100">
    </div>
    <div class="col-7 pl-5">
      <h1 class="display-4 text-white mt-3 pt-5 font-weight-bold mb-4" style="opacity: 0.75"><span class="fa fa-comments"></span> Chatnow</h1>
      <h2 class=" text-white" style="line-height: 1.35">
      A Sophisticated Chatbot that helps to enhance the customer funnel across the
      <mark class="font-weight-bold font-italic mr-2 d-inline-block rel" style="transform: skew(-12deg)">
      <span class="d-inline-block" style="transform: skew(20deg)">NOW FINANCE</span>
      </mark>  business.
      </h2>
    </div>
  </div>
</div>
<div class="container mt-5 pt-5 text-white">
  
  <div id="stack">
    <h1 class="pb-4">Tech Stack</h1>
    <div class="row featurette py-4">
      <div class="col-md-7">
        <h2 class="">Amazon Lex</h2>
        <p class="lead text-justify">
          Amazon Lex is a service for building conversational interfaces into any application using voice and text. Amazon Lex provides the advanced deep learning functionalities of automatic speech recognition (ASR) for converting speech to text, and natural language understanding (NLU) to recognize the intent of the text, to enable you to build applications with highly engaging user experiences and lifelike conversational interactions. With Amazon Lex, the same deep learning technologies that power Amazon Alexa are now available to any developer, enabling you to quickly and easily build sophisticated, natural language, conversational bots
        </p>
      </div>
      <div class="col-md-5">
        <div class="bg-white box rounded shadow-lg box" >
          <img class="img-fluid mx-auto" src="https://s3.consumersadvocate.org/prd/image/image/5172/medium_791c7c83-bd53-4c19-b845-dae503671d49.png" >
        </div>
        
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette py-4">
      <div class="col-md-7 order-md-2">
      <h2 class="">Amazon Lambda</span></h2>
      <p class="text-justify">AWS Lambda lets you run code without provisioning or managing servers. You pay only for the compute time you consume - there is no charge when your code is not running.
      With Lambda, you can run code for virtually any type of application or backend service - all with zero administration. Just upload your code and Lambda takes care of everything required to run and scale your code with high availability. You can set up your code to automatically trigger from other AWS services or call it directly from any web or mobile app.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <div class="bg-white box rounded shadow-lg box">
        <img class=" img-fluid mx-auto" src="art/lambda.png" >
      </div>
      
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette py-4">
    <div class="col-md-7">
      <h2 class="">Amazon Dynamodb</h2>
      <p class="lead text-justify">
        Amazon DynamoDB is a nonrelational database that delivers reliable performance at any scale. It's a fully managed, multi-region, multi-master database that provides consistent single-digit millisecond latency, and offers built-in security, backup and restore, and in-memory caching.
        More than 100,000 AWS customers have chosen DynamoDB for mobile, web, gaming, ad tech, IoT, and many other applications that need low-latency data access. Create a new table for your application and let DynamoDB handle the rest.
      </p>
    </div>
    <div class="col-md-5">
      <div class="bg-white box rounded shadow-lg box" >
        <img class="img-fluid mx-auto" src="art/dyn.png" width="400" >
      </div>
      
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
  </div><!-- id=demo -->
  <!-- Team -->
  <div id="team" class="text-center">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align: center;">Our Team</h1><br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="art/user.png" width="140" height="140">
        <h2 class="h4">Prajwal Kumar</h2>
        <p>Team Lead</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="art/user.png" alt="Generic placeholder image" width="140" height="140">
          <h2 class="h4">Saicharan Chowdary Angalakurthi </h2>
          <p>Product Owner<p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="rounded-circle" src="/art/user.png" alt="Generic placeholder image" width="140" height="140">
              <h2 class="h4">Nehal Pasha Shaik</h2>
              <p>Designer</p>
              </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
              <div class="row">
                <div class="col-lg-4">
                  <img class="rounded-circle" src="./art/user.png" alt="Generic placeholder image" width="140" height="140">
                  <h2 class="h4">Muhammad ArslanAtif </h2>
                  <p>Frontend Developer</p>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-lg-4">
                    <img class="rounded-circle" src="./art/user.png" alt="Generic placeholder image" width="140" height="140">
                    <h2 class="h4">Mounika Chowdary Pendyala</h2>
                    <p>Frontend Developer</p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <img class="rounded-circle" src="./art/user.png" alt="Generic placeholder image" width="140" height="140">
                      <h2 class="h4">Trushar Vekaria</h2>
                      <p>Backend Developer</p>
                    </div>
                    <div class="col-lg-4 offset-4">
                      <img class="rounded-circle" src="./art/user.png" alt="Generic placeholder image" width="140" height="140">
                      <h2 class="h4">Annamalai Saravanan</h2>
                      <p>Backend Developer</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <footer class="container mb-4">
                <p class="float-right"><a  class="text-white" href="#">Back to top</a></p>
                <p class="text-white">&copy; 2017-2018 Chatnow, Inc.</p>
              </footer>